# Deployment: Gunakan variabel ini di platform
# Gemini API
GEMINI_API_KEY=""

# Database (Supabase)
DATABASE_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres"

# NextAuth
AUTH_SECRET="" # Jalankan: npx auth secret
AUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Supabase Storage
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# reCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

# Resend Email Integration
RESEND_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
